/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (max-width: 768px)  {
 body {
    background-color: #540B51;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }
 header {
    background-color: #540B51;
    margin: 0;
 }
 main {
    background-color: #F3EAE2;
 }
 .menu{
display: none;
 }
}

.slack-logo{
    display: flex;
    align-items: left ;
    margin: 0;
    height: 2rem;
    width: 6rem;

}
.first-button{
    display: flex;
    align-items: right;
}

nav {
    display: flex;
    justify-content: space-between ;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-bottom: lightgray solid 1px;
    
    
}

nav .first-button{
    display: inline-flex;
    justify-content: space-between;
    flex-direction:row;

}

h1{
    color:white;
    font-weight: 100rem;
    text-align: center;
}
.first-span{
    color: orange;
}

.slack-free{
    color: #fff;
    text-align: center;
}
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email{
    background-color: #fff;
    color: #540B51;
    font-size:large;
    font-weight: bold;
    /* padding: 1rem 10rem 1rem 10rem; */
    width: 90%;
    height: 2.5rem;
    text-align: center;

}
.sign-google {
    background-color: #4285F4;
    /* padding: 1rem 10rem 1rem 10rem; */
    width: 90%;
    height: 2.5rem;
    align-items: left;
}


.google-logo {
    background-color: #fff;
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    justify-content: left;
    
}

.screenshot {
    padding-top: 2rem;
    margin: 0;
}
#background-shot{
    width: 100%;
    margin: 0;
}

.trust{
    color: black;
    text-align: center;
    padding-top: 3rem;
    font-weight: bold;
}
.partners{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    
}
.images-1{
width: 25%;
height: 15%;
}
.images-2{
    width: 15%;
    height: 5%;
}
.images-3{
    width: 15%;
    height: 5%;
}

 .images-4{
    width: 15%;
 }

 .images-5{
    width: 35%;
    height: 20%;
 }

 .images-6{
    width: 15%;
    height: 5%;
 }


.image-connectedness {
    width: 100%;
    margin: 0;
    padding-top: 4rem;

}

h2 {
    font-weight: bold;
    font-size: 3rem;
    
}

.features {
    margin: 0;
    padding-bottom: 3rem;
}

.p-features {
    font-size: larger;
}

.a-features {
    outline: none;

}

.second-span {
    outline: none;
}

h3 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.p-teams {
    text-align: center;
    justify-content: center;
}

.meet-slack {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.botton-slack {
    width: 95%;
    height: 3rem;
    margin: 0.5rem;
    background-color: #540B51;
    color: #fff;
    font-weight: bold;
}

.botton-sales {
    width: 95%;
    height: 3rem;  
    margin: 0.5rem; 
    background-color: #fff;
    color: #540B51;
    font-weight: bold;
}
.percentage {
    list-style-type: none;

}

.percentage span {
    color: #540B51;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    
}

.percentage-section {
    text-align: center;
}

.percentage p {
    font-weight: bold;
}
.welcome {
    background-color: #540B51;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.welcome h3 {
    color: #fff;
}

.button-try {
    width: 95%;
    height: 3rem;  
    margin: 0.5rem; 
    background-color: #fff;
    color: #540B51;
    font-weight: bold;
}

.button-talk {
    width: 95%;
    height: 3rem;
    margin: 0.5rem;
    background-color: #540B51;
    color: #fff;
    font-weight: bold;
    border: #fff solid 1px;
}

footer {
    background-color: #fff;
}

.list-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list-footer ul {
    list-style-type: none;
}


.footer {
    list-style-type: none;
}

.footer li {
    font-weight: bold;
}

.sm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}